{
    "printWidth": 120,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "es5",
    "semi": true,
    "bracketSpacing": true,
    "importOrder": [
        "@src/*",
        "^@/components/(.*)$",
        "^@/lib/(.*)$",
        "^@/hooks/(.*)$",
        "^@/utils/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}